<table id="customer-addresses">
	<thead>
		<th class="tc">Default Billing</th>
		<th class="tc">Default Delivery</th>
		<th class="tc">Name</th>
		<th class="tc">Address</th>
		<th>Telephone</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
	</thead>
	<tbody>	
	{% for key, address in addresses %}
		{% set row_class = ['', 'alternate']|cycle(key) %}
		<tr class="{{row_class}}">
			<td class="tc">
				<input type="radio" name="customer[default_billing_address]" value="{{address.id}}" {% if fields %}{% if address.id == fields.customer.default_billing_address %}checked="checked"{% endif %}{% else %}{% if customer.default_billing_address.id == address.id %}checked="checked"{% endif %}{% endif %} />
			</td>
			<td class="tc">
				<input type="radio" name="customer[default_shipping_address]" value="{{address.id}}" {% if fields %}{% if address.id == fields.customer.default_shipping_address %}checked="checked"{% endif %}{% else %}{% if customer.default_shipping_address.id == address.id %}checked="checked"{% endif %}{% endif %} />
			</td>
			<td class="tc"><div class="inline_editor_input_address_name" data-url="{% url "customer_address_edit", ["customer_id": customer.id, "address_id": address.id] %}" data-address-id="{{address.id}}">{{address.name}}
			</div>
			<img src="/media/images/admin/ajax-loader.gif" class="hidden" id="edit-address-name-spinner" data-address-id="{{address.id}}"/>
			<img src="/media/images/icons/pencil_add.png" alt="" class="hidden edit-pencil" id="edit-pencil-name" data-address-id="{{address.id}}" />
			</td>
			<td class="tc"><div class="inline_editor_input_address_address" data-url="{% url "customer_address_edit", ["customer_id": customer.id, "address_id": address.id] %}" data-address-id="{{address.id}}">{{address.human_string}}
			</div>
			<img src="/media/images/admin/ajax-loader.gif" class="hidden" id="edit-address-address-spinner" data-address-id="{{address.id}}"/>
			<img src="/media/images/icons/pencil_add.png" alt="" class="hidden edit-pencil" id="edit-pencil-address" data-address-id="{{address.id}}" />
			</td>
			<td class="tc"><div class="inline_editor_input_address_tel" data-url="{% url "customer_address_edit", ["customer_id": customer.id, "address_id": address.id] %}" data-address-id="{{address.id}}">{{address.telephone}}
			</div>
			<img src="/media/images/admin/ajax-loader.gif" class="hidden" id="edit-address-tel-spinner" data-address-id="{{address.id}}"/>
			<img src="/media/images/icons/pencil_add.png" alt="" class="hidden edit-pencil" id="edit-pencil-tel" data-address-id="{{address.id}}" />
			</td>
			<td width="1">
			{% if address.notes %}
				<img src="/media/images/icons/note.png" alt="" class="inline-icon show-address-notes" data-address-id="{{address.id}}" title="Show notes" />
			{% endif %}
			</td>
			<td width="1">
				<a href="#" class="customer-address-delete" data-url="{% url "customer_address_delete", ["customer_id": customer.id, "address_id": address.id] %}" data-address-id="{{address.id}}">
					<img src="/media/images/icons/delete.png" class="inline-icon" alt="" />
				</a>
				<img src="/media/images/admin/ajax-loader.gif" alt="" class="inline-icon hidden custom-address-delete-spinner" data-address-id="{{address.id}}" />
			</td>
		</tr>
		{% if address.notes %}
			<tr class="{{row_class}}">
			<td></td>
				<td colspan="999" class="address-notes-container" data-address-id="{{address.id}}">
					<div class="hidden address-notes inline_editor_textarea_address" data-address-id="{{address.id}}"data-address-url="{% url "customer_address_edit", ["customer_id": customer.id, "address_id": address.id] %}" data-address-id="{{address.id}}">{{address.notes}}</div>
							<img src="/media/images/admin/ajax-loader.gif" class="hidden" id="edit-address-spinner" data-address-id="{{address.id}}"/>
							<img src="/media/images/icons/pencil_add.png" alt="" class="hidden edit-pencil" id="edit-pencil-text" data-address-id="{{address.id}}" />
						</td>		
					</tr>
		{% endif %}
	{% endfor %}
	</tbody>
</table>
{{addresses_pagination}}