{% extends "admin/templates/default.html" %}

{% block page_title %}
	{% if customer.loaded %}
		Edit Customer: <strong>{{customer.name}}</strong>
	{% else %}
		Adding: <strong>New Customer</strong>
	{% endif %}
{% endblock %}

{% block content %}

<form method="POST">

	<div class="field">
		<div class="grid_4 alpha">
			<strong class="left-pad">Fields marked with * are required.</strong>
		</div>
		<div class="grid_12 omega tr">
			{% if customer.loaded %}
				<a href="/admin/customers/delete/{{customer.id}}" class="delete-button">
					<img src="/images/icons/delete.png" alt="" class="inline-icon" />
					Delete Customer
				</a>
				<a href="/admin/customers/archive/{{customer.id}}" class="archive-button">
					<img src="/images/icons/door_out.png" alt="" class="inline-icon" />
					Archive Customer
				</a>
			{% endif %}
			<a href="{{cancel_url}}" class="right-pad">Cancel Changes</a>
			<input type="submit" name="save_exit" value="Save &amp; Exit" class="right-pad" />
			<input type="submit" value="Save &amp; Continue Editing" class="right-pad" />
		</div>
		<div class="clear"></div>
	</div>

	<br/>

	<div class="grid_4 alpha">
		<h2>Customer Details</h2>
	</div>
	<div class="grid_12 omega tr">
	{% if modules.sage_exports %}
		<a href="{% url "customer_export_to_sage", ["customer_id": customer.id] %}" class="img-button">
			<img src="/media/images/icons/page_green.png" alt="" class="inline-icon" />
			Export for Sage
		</a>
	{% endif %}
	</div>
	<div class="clear"></div>
	
	<div class="field">
		<div class="grid_2 alpha">
			<label for="customer-firstname" {% if errors.customer.firstname %}class="error"{% endif %}>Firstname *</label>
		</div>
		<div class="grid_4">
			<input type="text" id="customer-firstname" name="customer[firstname]" value="{{fields.customer.firstname}}"
				class="inputtext" />
		</div>
	
		<div class="grid_2">
			<label for="customer-lastname" {% if errors.customer.lastname %}class="error"{% endif %}>Lastname *</label>
		</div>
		<div class="grid_4">
			<input type="text" id="customer-lastname" name="customer[lastname]" value="{{fields.customer.lastname}}"
				class="inputtext" />
		</div>
		<div class="clear"></div>
	</div>	
	
	<div class="field">
		<div class="grid_2 alpha">
			<label for="customer-email" {% if errors.customer.email %}class="error"{% endif %}>Email *</label>
		</div>
		<div class="grid_8">
			<input type="text" id="customer-email" name="customer[email]" value="{{fields.customer.email}}"
				class="inputtext long" />&nbsp;&nbsp;
			<a href="mailto:{{customer.email}}">Send Email</a>
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="field">
		<div class="grid_2 alpha">
			<label for="customer-company">Company</label>
		</div>
		<div class="grid_4">
			<input type="text" id="customer-company" name="customer[company]" value="{{fields.customer.company}}"
				class="inputtext" />
		</div>
		
		<div class="grid_2">
			<label for="customer-account-ref">Account #</label>
		</div>
		<div class="grid_8 omega">
			<input type="text" id="customer-account-ref" name="customer[account_ref]" value="{{fields.customer.account_ref}}"
				class="inputtext" />&nbsp;&nbsp;
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="field">
		<div class="grid_2 alpha">
			<label for="customer-type">Type</label>
		</div>
		<div class="grid_14 omega">
		{% for customer_type in customer_types %}
			<input type="checkbox" name="customer[customer_types][]" value="{{customer_type.id}}" {% if customer_type.id in fields.customer.customer_types %}checked="checked"{% endif %} /> {{customer_type.name}} &nbsp;&nbsp;
		{% endfor %}
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="field">
		<div class="grid_2 alpha">
			<label form="customer-status">Status</label>
		</div>
		<div class="grid_4">
			<select id="customer-status" name="customer[status]">
			{% for status in customer_statuses %}
				<option value="{{status}}" {% if customer.status == status %}selected="selected"{% endif %}>{{status|humanize|title}}</option>
			{% endfor %}
			</select>
		</div>
		{% if modules.tiered_pricing %}
			<div class="grid_2">
				<label for="customer-price-tier">Price Tier</label>
			</div>
			<div class="grid_8 omega">
				<select name="customer[price_tier]" id="customer-price-tier">
					<option value="">Retail</option>
					{% for tier in price_tiers %}
						<option value="{{tier.id}}" {% if tier.id == fields.customer.price_tier %}selected="selected"{% endif %}>{{tier.name}}</option>
					{% endfor %}
				</select>
			</div>
		{% endif %}
		<div class="clear"></div>
	</div>
	
	{# Custom Fields #}
	{% set object = customer %}
	{% include "admin/custom/fields/_edit_form_snippet.html" %}
	
	<br/>
	
	<div class="grid_8 alpha">
		<h2>Orders</h2>
	</div>
	<div class="grid_8 omega tr">
		{% if modules.commercial_sales_orders %}
			<a href="/admin/sales_orders/new?customer={{customer.id}}" class="img-button">
				<img src="/images/icons/add.png" alt="" />
				<span>New Commercial Sales Order</span>
			</a>
		{% endif %}
	</div>
	<div class="clear"></div>
	<table>
		<thead>
			<th class="tc">Order #</th>
			<th class="tr">Delivery Address</th>
			<th class="tc">Promo Code?</th>
			<th class="tr">Total</th>
			<th>&nbsp;</th>
			<th class="tr">Placed on</th>
		</thead>
		<tbody>	
		{% for key, order in orders %}
			<tr class="{{['', 'alternate']|cycle(key)}}">
				<td class="tc"><a href="/admin/sales_orders/view/{{order.id}}">{{order.id}}</a></td>
				<td class="tr">{{order.delivery_address.line_1}}, {{order.delivery_address.town}}, {{order.delivery_address.postcode}}</td>
				<td class="tc">{{order.promotion_code_code}}</td>
				<td class="tr">&pound;{{order.order_total|num_format(2)}}</td>
				<td class="tc"><span class="status_tag {{order.status}}">{{order.status|humanize|title}}</td>
				<td class="tr">{{order.created|date('d/m/Y H:i')}}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	{{orders_pagination}}
	
	{% if modules.crm %}
	
		{# Contacts #}
		<div class="grid_8 alpha">
			<h2>Additional Contacts</h2>
		</div>
		<div class="grid_8 omega tr">
			<a href="#" class="img-button" id="show-new-contact">
				<img src="/images/icons/add.png" alt="" />
				<span>New Contact</span>
			</a>
		</div>
		<div class="clear"></div>
		<div id="new-contact" class="hidden">
			{% include "admin/customer/contacts/_form.html" %}
		</div>
		<div id="customer-contact-table-container">
			{% include "admin/customer/contacts/_table.html" %}
		</div>
		{# End Contacts #}
	
		{# Addresses #}
		<div class="grid_8 alpha">
			<h2>Addresses</h2>
		</div>
		<div class="grid_8 omega tr">
			<a href="#" class="img-button" id="show-new-address">
				<img src="/images/icons/add.png" alt="" />
				<span>New Address</span>
			</a>
		</div>
		<div class="clear"></div>
		<div id="new-address" class="hidden">
			{% include "admin/customer/addresses/_form.html" %}
		</div>
		<div id="customer-address-table-container">
			{% include "admin/customer/addresses/_table.html" %}
		</div>
		{# End Addresses #}
	
		{# Communications #}
		<div class="grid_8 alpha">
			<h2>Customer Communications</h2>	
		</div>
		<div class="grid_8 omega tr">
			<a href="#" class="img-button" id="show-new-communication">
				<img src="/images/icons/add.png" alt="" />
				<span>New Communication</span>
			</a>
		</div>
		<div class="clear"></div>
		<div id="new-communication" class="hidden">
			{% include "admin/customer/communications/_form.html" %}
		</div>
		{% include "admin/customer/communications/_table.html" %}
		{# End Communications #}
	{% endif %}
		
</form>

{% endblock %}