{% extends "admin/templates/default.html" %}

{% block custom_scripts %}
	
	<script type="text/javascript" src="/media/js/admin/promotion_codes.js?v=3"></script>

{% endblock %}

{% block page_title %}
	{% if promotion_code.loaded %}
		Edit Promotion Code: <strong>{{promotion_code.code}}</strong>
	{% else %}
		Adding: <strong>New Promotion Code</strong>
	{% endif %}
{% endblock %}

{% block content %}

<form method="POST">

	<div class="field">
		<div class="grid_6 alpha">
			<strong class="left-pad">Fields marked with * are required.</strong>
		</div>
		<div class="grid_10 omega tr">
			{% if promotion_code.loaded %}
				<a href="/admin/promotion_codes/delete/{{promotion_code.id}}" class="delete-button">
					<img src="/images/icons/delete.png" alt="" class="inline-icon" />
					Delete Promotion Code
				</a>
			{% endif %}
			<a href="{{cancel_url}}" class="right-pad">Cancel Changes</a>
			<input type="submit" name="save_exit" value="Save &amp; Exit" class="right-pad" />
			<input type="submit" value="Save &amp; Continue Editing" class="right-pad" />
		</div>
		<div class="clear"></div>
	</div>

	<h2>Promotion Code Details</h2>
	
	<div class="field">
		<div class="grid_2 alpha">
			<label for="promotion-code-code" {{ errors.promotion_code.code ? "class='error'" : "" }}>Code *</label>
		</div>
		<div class="grid_5">
			<input type="text" id="promotion-code-code" name="promotion_code[code]" value="{{fields.promotion_code.code}}"
				class="inputtext short" />
				<a href="#" id="generate-promotion-code">
					<img src="/images/icons/cog.png" alt="" class="inline-icon" id="promotion-code-auto-generate-icon" />
					Auto Generate
				</a>
		</div>

		<div class="grid_9 omega">
			<em>Enter a unique shortcode between 4 and 20 characters.</em>
		</div>
		
		<div class="clear"></div>
		
	</div>
	
	<div class="field">
		
		<div class="grid_2 alpha">
			<label for="promotion-code-description" {{ errors.promotion_code.name ? "class='error'" : "" }}>Description</label>
		</div>
		<div class="grid_6">
			<input type="text" id="promotion-code-description" name="promotion_code[description]" value="{{fields.promotion_code.description}}" class="inputtext longer" />
		</div>
		<div class="grid_2">
			<label for="promotion-code-status">Status</label>
		</div>
		<div class="grid_6 omega">
			<select id="promotion-code-status" name="promotion_code[status]">
			{% for status in statuses %}
				<option value="{{status}}" {{ status == category.status ? "selected" : "" }}>{{status|humanize|title}}</option>
			{% endfor %}
			</select>
		</div>
		<div class="clear"></div>
	</div>
		
	<div class="field">	
		<div class="grid_2 alpha">
			<label for="promotion-code-max-redemption">Redeemable</label>
		</div>
		<div class="grid_4">
			<input type="text" name="promotion_code[max_redemptions]" value="{{fields.promotion_code.max_redemptions}}"
				class="inputtext tiny" /> &nbsp;times. <em>Leave blank for unlimited.</em>
		</div>		
	
		{% if promotion_code.loaded %}
			<div class="grid_2">
				<label>Redeemed</label>
			</div>
			<div class="grid_8 omega">
				{{promotion_code.redeemed}} times
			</div>
		{% endif %}
	
		<div class="clear"></div>
	</div>
		
	<div class="field">
		<div class="grid_2 alpha">
			<label for="promotion-code-run-indefinitely">Lifetime</label>
		</div>
		<div class="grid_14 omega">
			<input type="checkbox" name="promotion_code[run_indefinitely]" id="promotion-code-run-indefinitely" value="1" {% if fields.promotion_code.run_indefinitely %}checked="checked"{% endif %} /> Run indefinitely
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="field">
		
		<div class="grid_2 alpha">
			<label for="promotion-code-valid-from">Valid From</label>
		</div>
		<div class="grid_4">
			<input type="text" name="valid_from_date" value="{{fields.promotion_code.start_date|date('d/m/Y')}}" id="promotion-code-valid-from"
				class="datepicker inputtext shorter" {% if fields.promotion_code.run_indefinitely %}disabled="disabled"{% endif %} />
			<select name="valid_from_hour" {% if fields.promotion_code.run_indefinitely %}disabled="disabled"{% endif %} id="promotion-code-valid-from-hour">
			{% for i in 0..23 %}
				<option value="{{i}}" {% if fields.promotion_code.start_date|date('G') == i %}selected{% endif %}>{{'%02s'|format(i)}}</option>
			{% endfor %}
			</select>
			:
			<select name="valid_from_minute" {% if fields.promotion_code.run_indefinitely %}disabled="disabled"{% endif %} id="promotion-code-valid-from-minute">
			{% for i in 0..59 %}
				<option value="{{i}}" {% if fields.promotion_code.start_date|date('i') == '%02s'|format(i) %}selected{% endif %}>{{'%02s'|format(i)}}</option>
			{% endfor %}
			</select>
		</div>
		<div class="grid_2">
			<label for="promotion-code-valid-until">Valid Until</label>
		</div>
		<div class="grid_4">
			<input type="text" name="valid_to_date" value="{{fields.promotion_code.end_date|date('d/m/Y')}}" id="promotion-code-valid-until"
				class="datepicker inputtext shorter" {% if fields.promotion_code.run_indefinitely %}disabled="disabled"{% endif %} />
			<select name="valid_to_hour" {% if fields.promotion_code.run_indefinitely %}disabled="disabled"{% endif %} id="promotion-code-valid-until-hour">
			{% for i in 0..23 %}
				<option value="{{i}}" {% if fields.promotion_code.end_date|date('G') == i %}selected{% endif %}>{{'%02s'|format(i)}}</option>
			{% endfor %}
			</select>
			:
			<select name="valid_to_minute" {% if fields.promotion_code.run_indefinitely %}disabled="disabled"{% endif %} id="promotion-code-valid-until-minute">
			{% for i in 0..59 %}
				<option value="{{i}}" {% if fields.promotion_code.end_date|date('i') == '%02s'|format(i) %}selected{% endif %}>{{'%02s'|format(i)}}</option>
			{% endfor %}
			</select>
		</div>
		<div class="grid_4 omega">&nbsp;</div>
		<div class="clear"></div>
		
	</div>
	
	<div class="field">
		<div class="grid_2 alpha">
			<label for="promotion-code-promotion-type">Promotion on</label>
		</div>
		<div class="grid_14 omega">
			<select id="promotion-code-promotion-type" name="promotion_code[discount_on]">
			{% for type in promotion_types %}
				<option value="{{type}}" {% if type == fields.promotion_code.discount_on %}selected="selected"{% endif %}>{{type|title|humanize}}</option>
			{% endfor %}
			</select>
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="field {% if fields.promotion_code.discount_on != 'sales_order_item' %}hidden{% endif %}" id="promotion-code-products">
		
		<div class="grid_2 alpha">
			<label>On Items</label>
		</div>
		
		<div class="grid_14 omega">
		
			<input type="text" id="add-product" value="" class="inputtext" />
			
			<em>Start typing name of product you wish to add.</em>
			
			<ul id="promotion-code-products-live-search">
				
			</ul>
			
		</div>
		
		<div class="clear"></div>
	</div>
	
	<div id="promotion-code-products-container">
	{% for product in fields.promotion_code.products %}
	
		<div class="field promotion-code-product-container" rel="{{product.id}}">
			<div class="grid_2 alpha">&nbsp;</div>
			
			<div class="grid_14 omega"><a href="/admin/products/edit/{{product.slug}}">{{product.name}}</a> <a href="#" class="remove-promotion-code-product" rel="{{product.id}}">remove</a></div>
			
			<input type="hidden" name="promotion_code[products][]" value="{{product.id}}" />
			
			<div class="clear"></div>
		</div>
	
	{% endfor %}
	</div>
	
	<h2>Promotion Code Rewards</h2>
	
	{% if promotion_code.loaded %}
	
	<p>
		<a href="{% url "add_promotion_code_reward", ["promotion_code_id": promotion_code.id] %}" class="img-button edit_reward">
			<img src="/images/icons/add.png" alt="" />
			Add Reward
		</a>
	</p>
		
	<div id="promotion-code-rewards">
	
	{% include "admin/promotion/codes/_promotion_code_rewards.html" %}
	
	</div>
	
	{% else %}
		<p><em>You must save the promotion code before adding rewards.</em></p>
	{% endif %}
	
</form>

{% endblock %}