{% extends "admin/templates/modal.html" %}

{% block content %}
	<div class="container_16">
		
		<h1>Add Promotion Code Reward</h1>
		
		<div class="field">
		
			<div class="grid_2">
				<label for="reward_reward_type">Type</label>
			</div>
			
			<div class="grid_4">
				<select name="reward[reward_type]" id="reward_reward_type">
					<option value=""></option>
					{% for type in reward_types %}
						<option value="{{type}}" {% if type == fields.reward.reward_type %}selected="selected"{% endif %}>{{type|title}}</option>
					{% endfor %}
				</select>
			</div>
			
			<div class="grid_3">
				<label for="reward_basket_minimum_value">Min. Basket Value</label>
			</div>
			
			<div class="grid_6">
				<input type="text" id="reward_basket_minimum_value" name="reward[basket_minimum_value]" value="{{fields.reward.basket_minimum_value|num_format(2)}}" class="inputtext shorter" />
			</div>
			
			<div class="clear"></div>
			
		</div>
		
		<!-- Item -->
		<div class="field {% if fields.reward.reward_type != 'item' %}hidden{% endif %}" id="reward-item-fields">
			
			<div class="grid_2">
				<label for="reward_sku">Item</label>
			</div>
			
			<div class="grid_4">
				<select name="reward[sku]" id="reward_sku">
					<option value=""></option>
					{% for sku in all_skus %}
						<option value="{{sku.id}}" {% if sku.id == fields.reward.sku.id %}selected="selected"{% endif %}>{{sku.name}}</option>
					{% endfor %}
				</select>
			</div>
			
			<div class="grid_3">
				<label for="reward_sku_reward_price">Reward Price</label>
			</div>
			
			<div class="grid_6">
				<input type="text" name="reward[sku_reward_price]" id="reward_sku_reward_price" value="{{fields.reward.sku_reward_retail_price|num_format(2)}}" class="inputtext shorter" />
			</div>

			<div class="clear"></div>		
		</div>
		
		<!-- Discount -->
		<div class="field {% if fields.reward.reward_type != 'discount' %}hidden{% endif %}" id="reward-discount-fields">
		
			<div class="grid_2">
				<label for="reward_discount_amount">Discount Amt</label>
			</div>
			
			<div class="grid_4">
				<input type="text" id="reward_discount_amount" name="reward[discount_amount]" value="{{fields.reward.discount_amount|num_format(2)}}" class="inputtext shorter" />
			</div>
			
			<div class="grid_3">
				<label for="reward_discount_unit">Discount Unit</label>
			</div>
			
			<div class="grid_6">
				<select id="reward_discount_unit" name="reward[discount_unit]">
					<option value="pound" {% if fields.reward.discount_unit == 'pounds' %}selected="selected"{% endif %}>&pound;</option>
					<option value="percent" {% if fields.reward.discount_unit == 'percent' %}selected="selected"{% endif %}>%</option>
				</select>
			</div>

			<div class="clear"></div>		
		</div>
{% if promotion_code_reward.loaded %}sdvsfbvsfv{% endif %}
		<div class="buttons tr">
			<input type="submit" value="Add Reward" id="add-promotion-code-reward"
				data-submit-url="{% if fields.reward.loaded %}{% url "edit_promotion_code_reward", ["promotion_code_id": promotion_code.id, "promotion_code_reward_id": fields.reward.id] %}{% else %}{% url "add_promotion_code_reward", ["promotion_code_id": promotion_code.id] %}{% endif %}" />
			<a href="#" class="close-modal">cancel</a>
		</div>
		
	</div>
{% endblock %}