<table id="customer-contacts">
	<thead>
		<th>Name</th>
		<th>Email</th>
		<th>Telephone</th>
		<th>Postition</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
	</thead>
	<tbody>	
	{% for key, contact in contacts %}
		{% set row_class = ['', 'alternate']|cycle(key) %}
		<tr class="{{row_class}}">
			<td>{{contact.name}}</td>
			<td><a href="mailto:{{contact.email}}">{{contact.email}}</a></td>
			<td>{{contact.telephone}}</td>
			<td>{{contact.position}}</td>
			<td width="1">
			{% if contact.notes %}
				<img src="/media/images/icons/note.png" alt="" class="inline-icon show-contact-notes" data-contact-id="{{contact.id}}" title="Show notes" />
			{% endif %}
			<td width="1">
				<a href="#" class="customer-contact-delete" data-url="{% url "customer_contact_delete", ["customer_id": customer.id, "contact_id": contact.id] %}" data-contact-id="{{contact.id}}">
					<img src="/media/images/icons/delete.png" class="inline-icon" alt="" />
				</a>
				<img src="/media/images/admin/ajax-loader.gif" alt="" class="inline-icon hidden custom-contact-delete-spinner" data-contact-id="{{contact.id}}" />
			</td>
			{% if contact.notes %}
			<tr class="{{row_class}}">
				<td colspan="999" class="contact-notes-container .inline_editor_textarea_contacts" data-contact-id="{{contact.id}}">
					<div class="hidden contact-notes" data-contact-id="{{contact.id}}"data-contact-url="{% url "customer_contact_edit", ["customer_id": customer.id, "contact_id": contact.id] %}" data-contact-id="{{contact.id}}">{{contact.notes}}</div>
							<img src="/media/images/admin/ajax-loader.gif" class="hidden" id="edit-contact-spinner" data-contact-id="{{contact.id}}"/>
							<img src="/media/images/icons/pencil_add.png" alt="" class="hidden edit-pencil" id="edit-pencil-text" data-contact-id="{{contact.id}}" />
						</td>			
				</tr>
		{% endif %}
		</tr>
	{% endfor %}
	</tbody>
</table>
{{contacts_pagination}}