{% extends "templates/email_default.html" %}

{% block content %}

	Dear {{user.firstname|title}} {{user.lastname|title}},

	<p>We have received a request via the {{site_name}} website to reset your password. Please confirm that you would like to do so by clicking the link below and following the instructions;</p>

	<p><a href="{{reset_link}}">{{reset_link}}</a></p>

	<p>If you did not request to reset your password then please ignore this email. Please contact us if you believe somebody is trying to access your account without your permission.</p>
	
{% endblock %}