<div class="container_16" id="admin_footer">
	<div class="grid_8 alpha">
		&nbsp;&nbsp; CaffeineCommerce v{{version_number}}
		&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="mailto:support@creativeintent.co.uk">Support</a>
	</div>
	<div class="grid_8 omega tr">
		<a href="http://www.creativeintent.co.uk/ecommerce-development" target="_blank">CaffeineCommerce</a>
		is developed by the friendly geeks @
		<a href="http://www.creativeintent.co.uk" target="_blank">Creative Intent</a>
	</div>
	<div class="clear"></div>
</div>