<div id="nav">
	<ul>
		<li class="first"><a href="/admin">Dashboard</a></li>
		
		{% if modules.brands or modules.categories or modules.products or modules.stockists %}
		<li>
			<a href="#">Catalog</a>
			
			<ul>
				{% if modules.brands %}
					<li><a href="/admin/brands">Brands</a></li>
				{% endif %}
			
				{% if modules.categories %}
					<li><a href="/admin/categories">Categories</a></li>
				{% endif %}
				
				{% if modules.tiered_pricing %}
					<li><a href="/admin/price_tiers">Price Tiers</a></li>
				{% endif %}
				
				{% if modules.products %}
					<li><a href="/admin/products">Products</a></li>
				{% endif %}
				
				{% if modules.stockists %}
					<li><a href="/admin/stockists">Stockists</a></li>
				{% endif %}
				
				{% if modules.bundles %}
					<li><a href="/admin/bundles">Bundles</a></li>
				{% endif %}
			</ul>

		</li>
		{% endif %}
		
		{% if modules.reviews %}
		  <li><a href="/admin/reviews">Reviews</a></li>
		{% endif %}
		
		{% if modules.comments %}
		  <li><a href="/admin/comments">Comments</a></li>
		{% endif %}
		
		{% if modules.sales_orders %}
			<li><a href="/admin/sales_orders">Sales Orders</a></li>
		{% endif %}

		{% if modules.crm %}
			<li><a href="#">CRM</a>
				<ul>
					<li><a href="/admin/customers">Customers</a></li>
					<li><a href="/admin/customer_types">Customer Types</a></li>
				</ul>
			</li>
		{% elseif modules.customer_accounts %}
			<li><a href="/admin/customers">Customers</a></li>
		{% endif %}
						
		{% if modules.blog or modules.pages or modules.snippets %}
		<li><a href="#">CMS</a>
			<ul>
				{% if modules.blog %}
					{% if modules.blog_categories %}
						<li><a href="/admin/blog_categories">Blog Categories</a></li>
					{% endif %}
					<li><a href="/admin/blog">Blog Posts</a></li>
				{% endif %}
				
				{% if modules.events %}
					<li><a href="/admin/events">Events</a></li>
				{% endif %}
				
				{% if modules.events_categories %}
					<li><a href="/admin/event_categories">Events Categories</a></li>
				{% endif %}
				
				{% if modules.pages %}
					<li><a href="/admin/pages">Pages</a></li>
				{% endif %}
				
				{% if modules.snippets %}
					<li><a href="/admin/snippets">Snippets</a></li>
				{% endif %}
			</ul>
		</li>
		{% endif %}
		
		{% if modules.forums %}
		<li><a href="#">Forums</a>
			<ul>
				<li><a href="/admin/forum_banned_words">Banned Words</a></li>
				<li><a href="/admin/forum_categories">Forum Categories</a></li>
			</ul>
		</li>
		{% endif %}
		
			{% if (modules.promotion_codes) or (modules.reward_points) %}
		<li><a href="#">Promotions</a>
		   <ul>
		{% if modules.promotion_codes %}
			  <li><a href="/admin/promotion_codes">Promotion Codes</a></li>
		{% endif %}
			{% if modules.reward_points %}
			  <li><a href="/admin/reward_points_profiles">Reward Points</a></li>
		{% endif %}
		  </ul>
		</li>
		  {% endif %}
		
		{% if (modules.delivery_options) or (modules.delivery_options_rules) %}
		<li><a href="#">Delivery</a>
		   <ul>
		{% if modules.delivery_options %}
			  <li><a href="/admin/delivery_options">Delivery Options</a></li>
		{% endif %}
			{% if modules.delivery_options_rules %}
			  <li><a href="/admin/delivery_options_rules">Delivery Rules</a></li>
		{% endif %}
		  </ul>
		</li>
		  {% endif %}
		
		<li><a href="#">System</a>
			<ul>
			{% if modules.custom_fields %}
				<li><a href="/admin/custom_fields">Custom Fields</a></li>
			{% endif %}			
			{% if modules.users %}
				<li><a href="/admin/users">System Users</a></li>
			{% endif %}
			{% if modules.vat_codes %}
				<li><a href="/admin/vat_codes">VAT Codes</a></li>
			{% endif %}			
			</ul>
		</li>
	</ul>
</div>