<div id="nav">
	<ul>
		<li class="first"><a href="/admin">Dashboard</a></li>
		
		<li>
			<a href="#">Catalog</a>
			
			<ul>
				{% if modules.brands %}
					<li><a href="/admin/brands">Brands</a></li>
				{% endif %}
			
				{% if modules.categories %}
					<li><a href="/admin/categories">Categories</a></li>
				{% endif %}
				
				{% if modules.products %}
					<li><a href="/admin/products">Products</a></li>
				{% endif %}
				
				{% if modules.stockists %}
					<li><a href="/admin/stockists">Stockists</a></li>
				{% endif %}
			</ul>

		</li>
		
		{% if modules.sales_orders %}
			<li><a href="/admin/sales_orders">Sales Orders</a></li>
		{% endif %}

		{% if modules.customer_accounts %}
			<li><a href="/admin/customers">Customers</a></li>
		{% endif %}
				
		<li><a href="#">CMS</a>
		
			<ul>
				{% if modules.blog %}
					<li><a href="/admin/blog">Blog</a></li>
				{% endif %}
				
				{% if modules.pages %}
					<li><a href="/admin/pages">Pages</a></li>
				{% endif %}
				
				{% if modules.snippets %}
					<li><a href="/admin/snippets">Snippets</a></li>
				{% endif %}
			</ul>
		
		</li>
		
		{% if modules.promotion_codes %}
			<li><a href="/admin/promotion_codes">Promotion Codes</a></li>
		{% endif %}
		
		{% if modules.delivery_options %}
			<li><a href="/admin/delivery_options">Delivery Options</a></li>
		{% endif %}
		
		{% if modules.users %}
			<li><a href="/admin/users">System Users</a></li>
		{% endif %}
	</ul>
</div>