<!DOCTYPE html>

<html>
<head>
{% block head %}
	<title>{{site_name}}</title>
	
	<link rel="stylesheet" type="text/css" href="/media/css/admin/reset.css" />
	<link rel="stylesheet" type="text/css" href="/media/css/admin/960.css" />
	<link rel="stylesheet" type="text/css" href="/media/css/admin/text.css" />
	<link rel="stylesheet" type="text/css" href="/media/css/admin/default.css?v=5" />

	<!--
		jQuery Scripts
	-->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>
	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/smoothness/jquery-ui.css" />
	<!--
		Superfish Dropdown Scriptizzle
	-->
	<script type="text/javascript" src="/media/js/superfish.js"></script>
	<link rel="stylesheet" href="/media/css/superfish.css" type="text/css" />
	<!--
		CKEditor scripts
	-->
	<script type="text/javascript" src="/media/js/ckeditor/ckeditor.js"></script> 
	<script type="text/javascript" src="/media/js/ckeditor/adapters/jquery.js"></script>
	<!--
		Custom scripts
	-->
	<script type="text/javascript" src="/media/js/admin/default.js"></script>
	{% block custom_scripts %}{% endblock %}
{% endblock %}
</head>
<body>
	
	<div id="header">
		
		<div class="container_16">
			
			<div id="top_menu">
				<div class="grid_16 tr">
					Logged in as 
						{% if auth.get_user.firstname %}{{auth.get_user.firstname}}{% else %}{{auth.get_user.username}}{% endif %}
					- <a href="/admin/logout">Log Out</a>
				</div>
				<div class="clear"></div>
			</div>
			
			<div id="site_header">
				<div class="grid_8">
					<img src="/media/images/admin/logo.png" alt="Southwold Pharmacy Logo" class="logo" />
				</div>
				<div class="grid_8 tr">
					<span id="app_title">Ecommerce Management System</span>
				</div>
				<div class="clear"></div>
			</div>
			
			{% include "admin/templates/_navigation.html" %}
		
		</div>
		
	</div>
	
	<div id="content" class="container_16">
		<div class="grid_16">
			<div class="page_title">
				<h1>{% block page_title %}{% endblock %}</h1>
			</div>
			{% block content %}{% endblock %}
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="container_16" id="admin_footer">
		<div class="grid_8 alpha">
			&nbsp;&nbsp; CaffeineCommerce v{{version_number}}
			&nbsp;&nbsp;|&nbsp;&nbsp;
			<a href="mailto:support@creativeintent.co.uk">Support</a>
		</div>
		<div class="grid_8 omega tr">
			<a href="http://www.creativeintent.co.uk/ecommerce-development" target="_blank">CaffeineCommerce</a>
			is developed by the friendly geeks @
			<a href="http://www.creativeintent.co.uk" target="_blank">Creative Intent</a>
		</div>
		<div class="clear"></div>
	</div>
	
	{{kohana_profiler}}
	
</body>
</html>