<!DOCTYPE html>

<html>
<head>
	{% block head %}
		<title>{{site_name}}</title>
		
		<link rel="stylesheet" type="text/css" href="/media/css/admin/reset.css" />
		<link rel="stylesheet" type="text/css" href="/media/css/admin/960.css" />
		<link rel="stylesheet" type="text/css" href="/media/css/admin/text.css" />
		<link rel="stylesheet" type="text/css" href="/media/css/admin/default.css?v=11" />
		<link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/smoothness/jquery-ui.css" />
		<link rel="stylesheet" href="/media/css/admin/superfish.css" type="text/css" />
		<link rel="stylesheet" href="/media/js/fancybox/jquery.fancybox-1.3.1.css" type="text/css" media="screen" />
	{% endblock %}
	<script src="/media/js/libs/modernizr-2.5.3.min.js"></script>
	

</head>
<body>
	
	<div id="header">
		
		<div class="container_16">
			
			<div id="top_menu">
				<div class="grid_16 tr">
					Logged in as 
						{% if auth.get_user.firstname %}{{auth.get_user.firstname}}{% else %}{{auth.get_user.username}}{% endif %}
					- <a href="/admin/logout">Log Out</a>
				</div>
				<div class="clear"></div>
			</div>
			
			<div id="site_header">
				<div class="grid_8">
					<img src="/media/images/admin/logo.png" alt="Southwold Pharmacy Logo" class="logo" />
				</div>
				<div class="grid_8 tr inline_editor">
					<span id="app_title">Ecommerce Management System</span>
				</div>
				<div class="clear"></div>
			</div>
			
			{% include "admin/templates/_navigation.html" %}
		
		</div>
		
	</div>
	
	<div id="content" class="container_16">
		<div class="grid_16">
			<div class="page_title">
				<h1>{% block page_title %}{% endblock %}</h1>
			</div>
			{% block content %}{% endblock %}
		</div>
		<div class="clear"></div>
	</div>
	
	{% include "admin/templates/_footer.html" %}
		
	<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/media/js/libs/jquery-1.7.1.min.js"><\/script>')</script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/media/js/admin/ckeditor/ckeditor.js"></script> 
	<script type="text/javascript" src="/media/js/admin/ckeditor/adapters/jquery.js"></script>
  <script type="text/javascript" src="/media/js/fancybox/jquery.fancybox-1.3.1.pack.js"></script>
  <script type="text/javascript" src="/media/js/admin/superfish.js"></script> 
  <script type="text/javascript" src="/media/js/admin/plugins.js?v=2"></script>
  <script type="text/javascript" src="/media/js/admin/default.js?v=4"></script>
  {% block custom_scripts %}{% endblock %}
	
</body>
</html>