{% extends "admin/templates/default.html" %}

{% block page_title %}Viewing: <strong id="type">Delivery Options</strong>{% endblock %}

{% block content %}

<div class="search-bar">
	<div class="grid_8 alpha">
		<a href="/admin/delivery_options/add" class="img-button">
			<img src="/images/icons/add.png" alt="" />
			New Delivery Option
		</a>
	</div>
	<div class="grid_8 omega tr">
		<form>
			<input type="text" name="q" value="{{q}}" class="inputtext" />
			<input type="submit" value="Search" />
		</form>
	</div>
  
<!--
  {% if modules.delivery_options_rules %}  
	<div class="grid_8 alpha" style="margin-top:10px;">
    	Default Delivery Option
    	  <select id="default-delivery">
			{% for delivery_option in delivery_options %}
				<option value="{{delivery_option.id}}" {{ delivery_option.id == default_delivery_option.id ? "selected" : "" }}>{{delivery_option.name|humanize|title}}</option>
			{% endfor %}
			</select>
			<button id="defaultDelivery">Update</button>
				<img src="/images/ajax-loader.gif" style="margin-left:5px;display:none" id="waiting-delivery">
				<img src="/images/icons/accept.png" style="margin-left:5px;display:none" id="tick-delivery">
				<img src="/images/icons/cancel.png" style="margin-left:5px;display:none" id="error-delivery">
	</div>
	{% endif %}
-->
	
	<div class="clear"></div>
</div>

<div class="grid_8 alpha">
	<select id="bulk-actions">
		<option value="">-- Bulk Actions --</option>
		<option value="delete">Delete Selected</option>
	</select>

	<span id="no-rows-selected">No rows selected!</span>
</div>

<div class="grid_8 omega tr">
	Showing <strong>{{page * items - (items - 1)}}</strong> to <strong>{% if (page * items) <= total_products %}{{page * items}}{% else %}{{total_delivery_options}}{% endif %}</strong> of <strong>{{total_delivery_options}}</strong> items
</div>

<div class="clear"></div>
<table>
	<thead>
		<tr>
			<th width="1"><input id="check-all" type="checkbox" /></th>
			<th>Name</th>
			<th class="tr">Price</th>
			<th class="tc">Featured</th>
			<th class="tc">Selectable</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
	{% for key, delivery_option in delivery_options %}
		<tr class="{{['', 'alternate']|cycle(key)}}">
			<td><input type="checkbox" class="row-selector" value="{{delivery_option.id}}" /></td>
			<td><a href="/admin/delivery_options/edit/{{delivery_option.id}}">{{delivery_option.name}}</a></td>
			<td class="tr">&pound;{{delivery_option.retail_price|num_format(2)}}</td>
			<td class="tc">{% if delivery_option.featured %}Yes{% else %}No{% endif %}</td>
			<td class="tc">{% if delivery_option.customer_selectable %}Yes{% else %}No{% endif %}</td>
			<td class="{{delivery_option.status}}">{{delivery_option.status|title}}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{{pagination}}

{% endblock %}