{% extends "admin/templates/default.html" %}

{% block page_title %}Viewing: <strong id="type">Stockists</strong>{% endblock %}

{% block content %}

<div class="search-bar">
	<div class="grid_8 alpha">
		<a href="/admin/stockists/add" class="img-button">
			<img src="/images/icons/add.png" alt="" />
			New Stockist
		</a>
	</div>
	<div class="grid_8 omega tr">
		<form>
			<input type="text" name="q" value="{{q}}" class="inputtext" />
			<input type="submit" value="Search" />
		</form>
	</div>
	<div class="clear"></div>
</div>

<div class="grid_8 alpha">
	<select id="bulk-actions">
		<option value="">-- Bulk Actions --</option>
		<option value="delete">Delete Selected</option>
	</select>

	<span id="no-rows-selected">No rows selected!</span>	
</div>

<div class="grid_8 omega tr">
	Showing <strong>{{page * items - (items - 1)}}</strong> to <strong>{% if (page * items) <= total_stockists %}{{page * items}}{% else %}{{total_stockists}}{% endif %}</strong> of <strong>{{total_stockists}}</strong> items
</div>

<div class="clear"></div>

<table>
	<thead>
		<tr>
			<th width="1"><input id="check-all" type="checkbox" /></th>
			<th>Name</th>
			<th>Address</th>
			<th>Geocoded?</th>
		</tr>
	</thead>
	<tbody>
	{% for key, stockist in stockists %}
		<tr class="{{['', 'alternate']|cycle(key)}}">
			<td width="1"><input type="checkbox" class="row-selector" value="{{stockist.id}}"/></td>
			<td><a href="/admin/stockists/edit/{{stockist.id}}">{{stockist.name}}</a></td>
			<td>{{stockist.address}}</td>
			<td>{% if stockist.address.latitude and stockist.address.longitude %}Yes{% else %}No{% endif %}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{{pagination}}

{% endblock %}