<div id="customer-communications-table-container">
	<table>
		<thead>
			<th width="1">&nbsp;</th>
			<th width="1">&nbsp;</th>
			<th>User</th>
			<th width="50%">Title</th>
			<th class="tr">Date</th>
		</thead>
		<tbody>
			{% for key, communication in communications %}
				{% set row_class = ['', 'alternate']|cycle(key) %}
				<tr class="{{row_class}}">
					<td>
						{% if communication.text %}
							<img src="/media/images/icons/magnifier.png" class="inline_icon show-communication" alt=""  data-communication-id="{{communication.id}}" title="More info" />
						{% endif %}	
					</td>
					<td>
						{% if communication.type == 'email' %}
							<img src="/media/images/icons/email.png" class="inline-icon" alt="Email icon" title="Email" />
						{% elseif communication.type == 'mail' %}
							<img src="/media/images/icons/page_white_text.png" class="inline-icon" alt="Mail icon" title="Mail" />
						{% elseif communication.type == 'telephone' %}
							<img src="/media/images/icons/phone.png" class="inline-icon" alt="Telephone icon" title="Telephone" />
						{% elseif communication.type == 'note' %}
							<img src="/media/images/icons/note.png" class="inline-icon" alt="Note icon" title="Note" />
						{% else %}
							{{communication.type|title}}
						{% endif %}
					</td>
					<td>{{communication.user.name}}</td>
					<td>{{communication.title}}</td>
					<td class="tr">{{communication.date|date('d/m/Y H:i')}}</td>
				</tr>
				{% if communication.text %}
					<tr class="{{row_class}}">
						<td></td>
						<td colspan="999" class="communication-body-container" data-communication-id="{{communication.id}}">
							<div class="hidden communication-body" data-communication-id="{{communication.id}}">{{communication.text|auto_p}}</div>
						</td>
					</tr>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
	<div class="grid_8 alpha">
		{{communications_pagination}}
	</div>
	<div class="grid_8 omega tr">
		<img src="/media/images/icons/email.png" class="inline-icon" alt="Email icon" title="Email" /> Email
		<img src="/media/images/icons/page_white_text.png" class="inline-icon" alt="Mail icon" title="Mail" /> Mail
		<img src="/media/images/icons/phone.png" class="inline-icon" alt="Telephone icon" title="Telephone" /> Phone
		<img src="/media/images/icons/note.png" class="inline-icon" alt="Note icon" title="Note" /> Note
	</div>
	<div class="clear"></div>
</div>