{% extends "admin/templates/default.html" %}

{% block page_title %}Viewing: <strong>System Users</strong>{% endblock %}

{% block content %}

<p>
	<a href="/admin/users/add" class="img-button">
		<img src="/images/icons/add.png" alt="" />
		New User
	</a>
</p>

<div class="grid_8 alpha">
	<select id="bulk-actions">
		<option value="">-- Bulk Actions --</option>
	</select>

	<span id="no-rows-selected">No rows selected!</span>
</div>

<div class="grid_8 omega tr">
	Showing <strong>{{page * items - (items - 1)}}</strong> to <strong>{% if (page * items) <= total_users %}{{page * items}}{% else %}{{total_users}}{% endif %}</strong> of <strong>{{total_users}}</strong> items
</div>

<div class="clear"></div>

<table>
	<thead>
		<tr>
			<th width="1"><input id="check-all" type="checkbox" /></th>
			<th>Email Address</th>
			<th>Name</th>
			<th>Last Login</th>
			<th>Roles</th>
		</tr>
	</thead>
	<tbody>
	{% for key, user in users %}
		<tr class="{{['', 'alternate']|cycle(key)}}">
			<td><input type="checkbox" class="row-selector" /></td>
			<td><a href="/admin/users/edit/{{user.id}}">{{user.username}}</a></td>
			<td>{{user.firstname}} {{user.lastname}}</td>
			<td>
			{% if user.last_login %}	
				{{user.last_login|date('d/m/Y H:i')}}
			{% else %}
				<em>Never</em>
			{% endif %}	
			</td>
			<td>
			{% for role in user.roles %}
				{{role.name|title}}{% if not loop.last %},{% endif %}
			{% endfor %}
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{{pagination}}


{% endblock %}