<!DOCTYPE html> 
 
<html> 
<head> 
	<title>{{site_name}} Ecommerce Management System</title> 
	<link rel="stylesheet" href="/media/css/admin/reset.css" type="text/css" /> 
	<link rel="stylesheet" href="/media/css/admin/960.css" type="text/css" /> 
	<link rel="stylesheet" href="/css/text.css?v=1" type="text/css" /> 
	<link rel="stylesheet" href="/media/css/admin/login.css?v=1" type="text/css" /> 
</head> 
<body> 
	<div class="container_16"> 
		<div class="grid_4">&nbsp;</div> 
		
		<div class="grid_8"> 
			
			<div id="login-outer"> 
				<div id="login-header"> 
						
						<h1>Restricted Access</h1> 
					<div class="clear"></div> 
				</div> 
	
				<div id="login"> 
		
					
					<p class="tc"><em>Access to this area is restricted to {{site_name}} employees only.</em></p> 		
		
					{% if error %}
						<p class="tc error"><em>Email/Password combination was incorrect.</em></p>
					{% endif %}
		
					<form method="POST"> 
						<div class="field"> 
							<label for="email">Email</label> 
							<input type="text" name="email" id="email" value="" class="inputtext" /> 
						</div> 
						<div class="field"> 
							<label for="password">Password</label> 
							<input type="password" name="password" id="password" value="" class="inputtext" /> 
						</div> 
						<div class="tr"> 
							<input type="submit" value="Login" /> 
						</div> 
					</form> 
		
				</div> 
			</div> 
			
			{% include "admin/users/_login_footer.html" %}
 
		</div> 
		
		<div class="grid_4">&nbsp;</div> 
	</div>	
</body> 
</html>
