{% extends "admin/templates/default.html" %}

{% block page_title %}
	{% if blog_post.loaded %}
		Edit Blog Post: <strong>{{blog_post.name}}</strong>
	{% else %}
		Adding: <strong>New Blog Post</strong>
	{% endif %}
{% endblock %}

{% block custom_scripts %}
	<script type="text/javascript" src="/js/admin/jquery.counter-1.0.min.js"></script>
  <script type="text/javascript" src="/media/js/admin/blog_posts.js?v=1"></script>
{% endblock %}

{% block content %}

<form method="POST">

	<div class="field">
		<div class="grid_6 alpha">
			<strong class="left-pad">Fields marked with * are required.</strong>
		</div>
		<div class="grid_10 omega tr">
			{% if blog_post.loaded %}
				<a href="/admin/blog/delete_post/{{blog_post.id}}" class="delete-button">
					<img src="/images/icons/delete.png" alt="" class="inline-icon" />
					Delete Blog Post
				</a>
			{% endif %}
			<a href="{{cancel_url}}" class="right-pad">Cancel Changes</a>
			<input type="submit" name="save_exit" value="Save &amp; Exit" class="right-pad" />
			<input type="submit" value="Save &amp; Continue Editing" class="right-pad" />
		
		</div>
		<div class="clear"></div>
	</div>

	<h2>Blog Post Details</h2>
	
	<div class="field">
		<div class="grid_2 alpha">
			<label for="blog-post-name" {{ errors.name ? "class='error'" : "" }}>Name *</label>
		</div>
		<div class="grid_8">
			<input type="text" id="blog-post-name" name="blog_post[name]" value="{{blog_post.name}}"
				class="inputtext longest {% if not blog_post.loaded %}slugify{% endif %}" />
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="field">
		<div class="grid_2 alpha">
			<label for="blog-post-slug" {{ errors.slug ? "class='error'" : "" }}>SEO Slug *</label>
		</div>
		<div class="grid_14 omega">
			<input type="text" id="blog-post-slug" name="blog_post[slug]" value="{{blog_post.slug}}" class="inputtext longest slug" 
				{% if blog_post.loaded %} disabled {% endif %} />
		</div>
		<div class="clear"></div>
	</div>
	
	<!--
<div class="field">
		<div class="grid_2 alpha">
			<label for="blog-post-author">Author</label>
		</div>
		<div class="grid_14 omega">
		{% for author in authors %}
			<select id="blog-post-author" name="blog_post[author]">
				<option value="{{blog_post.author.id}}">{{blog_post.author.firstname}} {{blog_post.author.lastname}}</option>
			</select>
			{% endfor %}
		</div>
		<div class="clear"></div>
	</div>
-->
	
	{% if blog_post.loaded %}
	<div class="field">
		<div class="grid_2 alpha">
			<label>Public Page</label>
		</div>
		<div class="grid_14 omega">
			<a href="{% url "blog_view", ["slug":blog_post.slug] %}" target="_blank">{% url "blog_view", ["slug":blog_post.slug] %}</a>
		</div>
		<div class="clear"></div>
	</div>
	{% endif %}
	
	<div class="field">
		<div class="grid_2 alpha">
			<label for="blog-post-status">Status</label>
		</div>
		<div class="grid_14 omega">
			<select id="blog-post-status" name="blog_post[status]">
			{% for status in statuses %}
				<option value="{{status}}" {{ status == blog_post.status ? "selected" : "" }}>{{status|humanize|title}}</option>
			{% endfor %}
			</select>
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="field">
		<div class="grid_2 alpha">
			<label for="blog-post-body" class="top">Body</label>
		</div>
		<div class="grid_14 omega">		
			<textarea id="blog-post-body" name="blog_post[body]" class="description">{{blog_post.body}}</textarea>
		</div>
		<div class="clear"></div>
	</div>
	
	{# Custom Fields #}
	{% set object = blog_post %}
	{% include "admin/custom/fields/_edit_form_snippet.html" %}
		
		
	<h2>Meta Details</h2>
	
	<div class="field">
		<div class="grid_2 alpha">
			<label for="blog-post-meta-description">Description</label>
		</div>
		<div class="grid_6">
			<textarea id="blog-post-meta-description" name="blog_post[meta_description]" class="wide">{{blog_post.meta_description}}</textarea>
		</div>
		<div class="grid_2 tr">
			<p><strong>What's this?</strong></p>
		</div>
		<div class="grid_6 omega">
			<p class="right-pad">A meta description is recommended to help Search Engines rank of the page. Try to provide a short (between 70 - 160 chars) description of the blog post.</p>
		</div>
		<div class="clear"></div>
	</div>
	<div class="field">
		<div class="grid_2 alpha">
			<label for="blog-post-meta-keywords">Keywords</label>
		</div>
		<div class="grid_6">
			<textarea id="blog-post-meta-keywords" name="blog_post[meta_keywords]" class="wide">{{blog_post.meta_keywords}}</textarea>
		</div>
		<div class="grid_2 tr">
			<p><strong>What's this?</strong></p>
		</div>
		<div class="grid_6 omega">
			<p class="right-pad">Provide a few keywords, separated by commas that relate to this blog post. These are used by Search Engines when indexing pages.</p>
		</div>
		<div class="clear"></div>
	</div>
	
	<h2>Categories</h2>
	{% set i = 1 %}
	{% for key, category in categories %}
		{% if not category.parent.loaded %}
			<div class="grid_4 field {% if i % 4 == 1 %}alpha{% elseif i % 4 == 0 %}omega{% endif %}">
				<input type="checkbox" id="blog-category-{{category.id}}" name="blog_post[categories][]" value="{{category.id}}" 
					class="top-level-category" {% if blog_post.loaded and category.id in fields.blog_categories %}checked{% endif %} />
				<label for="blog-category-{{category.id}}" class="checkbox-label-bold">{{category.name}}</label>
				{% if category.categories %}
					<ul class="subcategory-list">
						{% for subcategory in category.categories %}
						<li>
							<input type="checkbox" id="blog-category-{{subcategory.id}}" name="blog_post[categories][]" 
								value="{{subcategory.id}}" {% if blog_post.loaded and subcategory.id in fields.blog_categories %}checked{% endif %} />
							<label for="blog-category-{{subcategory.id}}" class="checkbox-label">{{subcategory.name}}</label>
						</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
			{% if i % 4 == 0 %}<div class="clear"></div>{% endif %}
			{% set i = i + 1 %}
		{% endif %}
	{% endfor %}
		
		<div class="clear"></div>
	
</form>

<h2>Featured Image</h2>

	{% if not blog_post.loaded %}
	
		<p><em>You must save the blog post before adding an image.</em></p>
		
	{% else %}
	
		<!-- Async image uploader -->
		<form enctype="multipart/form-data" action="/admin/blog/upload_image" method="post" id="upload-image-form" target="upload-image">
			
			<input type="hidden" name="blog_post_id" value="{{blog_post.id}}" />
						
			<div class="field">
				<div class="grid_6 alpha">
					<img src="{{blog_post.featured_image}}" alt="Featured Image" style="margin-left:10px;" id="current-image" />
				</div>
				<div class="grid_2">
					<label>Upload Image</label>
				</div>
				<div class="grid_4 omega">
          <input type="file" name="image" id="image-upload" data-blog-post-id="{{blog_post.id}}" />
				</div>
			
				<div class="clear"></div>
			</div>
			
		</form>
		
		<iframe name="upload-image" id="upload-image"></iframe>
	
	{% endif %}

<script type="text/javascript" charset="utf-8">
	$('#blog-post-meta-description').counter({
		count: 'up',
		goal: 160
	});
	$('#blog-post-meta-keywords').counter({
		count: 'up',
		goal: 255
	});
$(function() {
    $('.description').ckeditor({
        toolbar: 'Full',
        enterMode : CKEDITOR.ENTER_BR,
        shiftEnterMode: CKEDITOR.ENTER_BR
    });
});

</script>

{% endblock %}
