{% extends "admin/templates/default.html" %}

{% block head %}

	{% parent %}
	
	<script type="text/javascript" src="/js/admin/jquery.counter-1.0.min.js"></script>

{% endblock %}

{% block page_title %}
	{% if brand.loaded %}
		Edit Blog Post: <strong>{{blog_post.name}}</strong>
	{% else %}
		Adding: <strong>New Blog Post</strong>
	{% endif %}
{% endblock %}

{% block content %}

<form method="POST">

	<div class="field">
		<div class="grid_8 alpha">
			<strong class="left-pad">Fields marked with * are required.</strong>
		</div>
		<div class="grid_8 omega tr">
			{% if blog_post.loaded %}
				<a href="/admin/blog/delete_post/{{blog_post.id}}" class="delete-button">
					<img src="/images/icons/delete.png" alt="" class="inline-icon" />
					Delete Blog Post
				</a>
			{% endif %}
			<a href="/admin/blog" class="right-pad">Cancel</a>
			<input type="submit" value="Save Changes" class="right-pad" />
		</div>
		<div class="clear"></div>
	</div>

	<h2>Blog Post Details</h2>
	
	<div class="field">
		<div class="grid_2 alpha">
			<label for="blog-post-name" {{ errors.name ? "class='error'" : "" }}>Name *</label>
		</div>
		<div class="grid_8">
			<input type="text" id="blog-post-name" name="blog_post[name]" value="{{blog_post.name}}"
				class="inputtext longest {% if not blog_post.loaded %}slugify{% endif %}" />
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="field">
		<div class="grid_2 alpha">
			<label for="blog-post-slug" {{ errors.slug ? "class='error'" : "" }}>SEO Slug *</label>
		</div>
		<div class="grid_14 omega">
			<input type="text" id="blog-post-slug" name="blog_post[slug]" value="{{blog_post.slug}}" class="inputtext longest slug" 
				{% if blog_post.loaded %} disabled {% endif %} />
		</div>
		<div class="clear"></div>
	</div>
	
	{% if blog_post.loaded %}
	<div class="field">
		<div class="grid_2 alpha">
			<label>Public Page</label>
		</div>
		<div class="grid_14 omega">
			<a href="/blog/{{blog_post.slug}}" target="_blank">{{base_url}}blog/{{blog_post.slug}}</a>
		</div>
		<div class="clear"></div>
	</div>
	{% endif %}
	
	<div class="field">
		<div class="grid_2 alpha">
			<label for="blog-post-status">Status</label>
		</div>
		<div class="grid_14 omega">
			<select id="blog-post-status" name="brand[status]">
			{% for status in statuses %}
				<option value="{{status}}" {{ status == blog_post.status ? "selected" : "" }}>{{status|humanize|title}}</option>
			{% endfor %}
			</select>
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="field">
		<div class="grid_2 alpha">
			<label for="blog-post-body" class="top">Body</label>
		</div>
		<div class="grid_14 omega">		
			<textarea id="blog-post-body" name="blog_post[body]" class="description">{{blog_post.body}}</textarea>
		</div>
		<div class="clear"></div>
	</div>
		
	<h2>Meta Details</h2>
	
	<div class="field">
		<div class="grid_2 alpha">
			<label for="blog-post-meta-description">Description</label>
		</div>
		<div class="grid_6">
			<textarea id="blog-post-meta-description" name="blog_post[meta_description]" class="wide">{{blog_post.meta_description}}</textarea>
		</div>
		<div class="grid_2 tr">
			<p><strong>What's this?</strong></p>
		</div>
		<div class="grid_6 omega">
			<p class="right-pad">A meta description is recommended to help Search Engines rank of the page. Try to provide a short (between 70 - 160 chars) description of the brand.</p>
		</div>
		<div class="clear"></div>
	</div>
	<div class="field">
		<div class="grid_2 alpha">
			<label for="blog-post-meta-keywords">Keywords</label>
		</div>
		<div class="grid_6">
			<textarea id="blog-post-meta-keywords" name="blog_post[meta_keywords]" class="wide">{{blog_post.meta_keywords}}</textarea>
		</div>
		<div class="grid_2 tr">
			<p><strong>What's this?</strong></p>
		</div>
		<div class="grid_6 omega">
			<p class="right-pad">Provide a few keywords, separated by commas that relate to this brand. These are used by Search Engines when indexing pages.</p>
		</div>
		<div class="clear"></div>
	</div>
	
</form>

<script type="text/javascript" charset="utf-8">
	$('#blog-post-meta-description').counter({
		count: 'up',
		goal: 160
	});
	$('#blog-post-meta-keywords').counter({
		count: 'up',
		goal: 255
	});
</script>

{% endblock %}