{% set i = 1 %}

<div id="product-options">

	{% for option in product.get_options %}
	
		<div class="grid_8 field product-option-container {% if i%2 > 0 %}alpha{% else %}omega{% endif %}" rel="{{option}}">
			<div class="grid_2 alpha">
				<label>{{option|title}}</label>
				<img src="/media/images/admin/ajax-loader.gif" alt="Loading…" id="remove-option-spinner-{{option}}"
					class="hidden left-pad inline-icon" />
 				<a href="#" class="remove-product-option-container" data-product-option="{{option}}" data-product-id="{{product.id}}">remove</a>
			</div>
			<div class="grid_6 omega">
			
				<div class="option-container">
				{% for value in product.get_option_values(option) %}
					<div class="product-option-row">
						<input type="radio" name="new_sku_options_{{option}}" class="new-sku-options" value="{{value.id}}" />
						<input type="text" name="product_options[{{value.id}}][value]" value="{{value.value}}" class="inputtext short" />
						<img src="/media/images/admin/ajax-loader.gif" alt="Loading…" id="remove-option-value-spinner-{{value.id}}"
							class="hidden left-pad inline-icon" />
 						<a href="#" class="product-option-remove" data-value-id="{{value.id}}">remove</a>
					</div>
				{% endfor %}
				</div>

				<input type="radio" name="" class="" value="" disabled="disabled" />
				<input type="text" class="inputtext short" id="new-option-input-{{option}}" placeholder="New value..." />
				<img src="/media/images/admin/ajax-loader.gif" alt="Loading…" id="add-option-value-spinner-{{option}}"
					class="hidden left-pad inline-icon" />
				<a href="#" class="add-product-option" data-option="{{option}}" data-product-id="{{product.id}}">
					<img src="/images/icons/add.png" alt="" class="inline-icon" />
					Add
				</a>
				<p id="product-option-error-{{option}}" class="product-option-error hidden">Product option already exists.</p>

			</div>
			<div class="clear"></div>
		</div>
	
		{% if i%2 == 0 %}<div class="clear"></div>{% endif %}
	
		{% set i = i + 1 %}
	
	{% else %}
		<p id="no-options"><em>No product options added.</em></p>
	{% endfor %}

</div>

<div class="clear"></div>

<div class="field">
	<div class="grid_2 alpha">
		<label>Add new option</label>
	</div>
	<div class="grid_14 omega">
		<input type="text" id="new-product-option" class="inputtext short" />
		<button id="add-new-option-container" data-product-id="{{product.id}}">Add</button>
		<img src="/images/admin/ajax-loader.gif" alt="" id="product-option-spinner" class="hidden" />
		<em>Use singular classifications where possible e.g. Colour, Size, Material, Pattern ...</em>
	</div>
	<div class="clear"></div>
</div>