{% for sku_id, sku in fields.skus %}
	{% if multiple_skus %}
		{% for option in sku.product_options %}
			<strong>{{option.key|title}}:</strong> {{option.value}}&nbsp;
		{% endfor %}
	{% endif %}
	<div class="field">
		<div class="grid_2 alpha">
			<label for="product-price" {{ errors.skus[(sku_id)].price ? "class='error'" : "" }}>Price * (&pound;)</label>
		</div>
		<div class="grid_6">
			<input type="text" id="sku-price" name="skus[{{sku.id}}][price]" value="{{sku.retail_price|num_format(2)}}" class="inputtext shortest" />
			<span class="left-pad"><img src="/images/icons/help.png" alt="" class="inline-icon" /> Enter price including VAT if applicable.</span>
		</div>
		<div class="grid_2">
			{% if modules.stock_control %}
				<label for="product-stock">Stock</label>
			{% endif %}
		</div>
		<div class="grid_2 omega">
			{% if modules.stock_control %}
				<input type="text" id="product-stock" name="skus[{{sku.id}}][stock]" value="{{sku.stock}}" class="inputtext shortest" />
			{% endif %}
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="field">
		<div class="grid_2 alpha">
			<label for="sku-sku-id">SKU</label>
		</div>
		<div class="grid_6">
			<input type="text" id="sku-sku-{{sku.id}}" name="skus[{{sku.id}}][sku]" value="{{sku.sku}}" class="inputtext" />
		</div>
		{% if multiple_skus %}
			<div class="grid_2">
				<label for="sku-status">Status</label>
			</div>
			<div class="grid_6 omega">
				<select id="sku-status" name="skus[{{sku.id}}][status]">
				{% for status in sku_statuses %}
					<option value="{{status}}" {{ status == sku.status ? "selected" : "" }}>{{status|humanize|title}}</option>
				{% endfor %}
				</select>
			</div>
		{% endif %}
		<div class="clear"></div>
	</div>
{% endfor %}