{% extends "admin/templates/default.html" %}

{% block custom_scripts %}
	
	<script type="text/javascript" src="/js/admin/jquery.counter-1.0.min.js"></script>
	<script type="text/javascript" src="/media/js/admin/products.js?1"></script>

{% endblock %}

{% block page_title %}
	{% if product.loaded %}
		Edit Product: <strong>{{product.name}}</strong>
	{% else %}
		Adding: <strong>New Product</strong>
	{% endif %}
{% endblock %}

{% block content %}

<form method="POST">

	<div class="field">
		<div class="grid_6 alpha">
			<strong class="left-pad">Fields marked with * are required.</strong>
		</div>
		<div class="grid_10 omega tr">
			{% if product.loaded %}
				<a href="/admin/products/delete/{{product.id}}" class="delete-button">
					<img src="/images/icons/delete.png" alt="" class="inline-icon" />
					Delete Product
				</a>
			{% endif %}
			<a href="{{cancel_url}}" class="right-pad">Cancel Changes</a>
			<input type="submit" name="save_exit" value="Save &amp; Exit" class="right-pad" />
			<input type="submit" value="Save &amp; Continue Editing" class="right-pad" />
			
		</div>
		<div class="clear"></div>
	</div>

	<h2>Product Details</h2>
	
	<div class="field">
		<div class="grid_2 alpha">
			<label for="product-name" {{ errors.name ? "class='error'" : "" }}>Name *</label>
		</div>
		<div class="grid_8">
			<input type="text" id="product-name" name="product[name]" value="{{product.name}}"
				class="inputtext longest {% if not product.loaded %}slugify{% endif %}" />
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="field">
		<div class="grid_2 alpha">
			<label for="product-slug" {{ errors.slug ? "class='error'" : "" }}>SEO Slug *</label>
		</div>
		<div class="grid_14 omega">
			<input type="text" id="product-slug" name="product[slug]" value="{{product.slug}}" class="inputtext longest slug" 
				{% if product.loaded %} disabled {% endif %} />
		</div>
		<div class="clear"></div>
	</div>
	
	{% if product.loaded %}
	<div class="field">
		<div class="grid_2 alpha">
			<label>Public Page</label>
		</div>
		<div class="grid_14 omega">
			<a href="{% url "view_product", ["slug":product.slug] %}" target="_blank">{{base_url}}{% url "view_product", ["slug":product.slug] %}</a>
		</div>
		<div class="clear"></div>
	</div>
	{% endif %}
	
	<div class="field">
		<div class="grid_2 alpha">
			<label for="product-status">Status</label>
		</div>
		<div class="grid_14 omega">
			<select id="product-status" name="product[status]">
			{% for status in statuses %}
				<option value="{{status}}" {{ status == product.status ? "selected" : "" }}>{{status|humanize|title}}</option>
			{% endfor %}
			</select>
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="field">
		<div class="grid_2 alpha">
			<label for="product-description" class="top">Description</label>
		</div>
		<div class="grid_14 omega">		
			<textarea id="product-description" name="product[description]" class="description">{{product.description}}</textarea>
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="field">
		<div class="grid_2 alpha">
			<label for="product-price">Price * (&pound;)</label>
		</div>
		<div class="grid_6">
			<input type="text" id="product-price" name="product[price]" value="{{product.retail_price}}" class="inputtext shortest" />
			<span class="left-pad"><img src="/images/icons/help.png" alt="" class="inline-icon" /> Enter price including VAT if applicable.</span>
		</div>
		<div class="grid_2">
			{% if modules.brands %}
				<label for="product-brand">Brand</label>
			{% endif %}
		</div>
		<div class="grid_6 omega">
			{% if modules.brands %}
				<select id="product-brand" name="product[brand]">
					<option value="0">None</option>
				{% for brand in brands %}
					<option value="{{brand.id}}" {{ brand.id == product.brand.id ? "selected" : "" }}>{{brand.name}}</option>
				{% endfor %}
				</select>
			{% endif %}
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="field">
		<div class="grid_2 alpha">
			<label>SKU</label>
		</div>
		<div class="grid_14 omega">
			<input type="text" id="product-sku" name="product[sku]" value="{{product.sku}}" class="inputtext shorter" />
		</div>
		<div class="clear"></div>
	</div>
	
	<h2>Product Options</h2>
	
	{% set i = 1 %}
	
	<div id="product-options">

		{% for option in product.get_options %}
		
			<div class="grid_8 field product-option-container {% if i%2 > 0 %}alpha{% else %}omega{% endif %}" rel="{{option}}">
				<div class="grid_2 alpha">
					<label>{{option|title}}</label>
					<a href="#" class="remove-product-option-container" rel="{{option}}">remove</a>
				</div>
				<div class="grid_6 omega">
				
					<div class="option-container">
					{% set j = 0 %}
					{% for value, option_status in product.get_option_values(option) %}
						<div id="{{j}}" class="product-option-row">
							<input type="text" name="product[product_options][{{option}}][{{j}}][value]" value="{{value}}" class="inputtext short" />
							<select name="product[product_options][{{option}}][{{j}}][status]">
							{% for status in product_option_statuses %}
								<option value="{{status}}" {% if status == option_status %}selected{% endif %}>{{status|title}}</option>
							{% endfor %}
							</select>
							<a href="#" class="product-option-remove">remove</a>
						</div>
						{% set j = j + 1 %}
					{% endfor %}
					</div>
					<input type="text" class="inputtext short" placeholder="New value..." />
					<a href="#" class="add-product-option" rel="{{option}}">
						<img src="/images/icons/add.png" alt="" class="inline-icon" />
						Add
					</a>
				</div>
				<div class="clear"></div>
			</div>
		
			{% if i%2 == 0 %}<div class="clear"></div>{% endif %}
		
			{% set i = i + 1 %}
		
		{% else %}
			<p id="no-options"><em>No product options added.</em></p>
		{% endfor %}

	</div>

	<div class="clear"></div>

	<div class="field">
		<div class="grid_2 alpha">
			<label>Add new option</label>
		</div>
		<div class="grid_8">
			<input type="text" id="new-product-option" class="inputtext short" />
			<button id="add-new-option-container">Add</button>
			<img src="/images/admin/ajax-loader.gif" alt="" id="product-option-spinner" class="hidden" />
			<em>e.g. Colour, Size ...</em>
		</div>
		<div class="clear"></div>
	</div>

	
	<h2>Meta Details</h2>
	
	<div class="field">
		<div class="grid_2 alpha">
			<label for="product-meta-description">Description</label>
		</div>
		<div class="grid_6">
			<textarea id="product-meta-description" name="product[meta_description]" class="wide">{{product.meta_description}}</textarea>
		</div>
		<div class="grid_2 tr">
			<p><strong>What's this?</strong></p>
		</div>
		<div class="grid_6 omega">
			<p class="right-pad">A meta description is recommended to help Search Engines rank of the page. Try to provide a short (between 70 - 160 chars) description of the product.</p>
		</div>
		<div class="clear"></div>
	</div>
	<div class="field">
		<div class="grid_2 alpha">
			<label for="product-meta-keywords">Keywords</label>
		</div>
		<div class="grid_6">
			<textarea id="product-meta-keywords" name="product[meta_keywords]" class="wide">{{product.meta_keywords}}</textarea>
		</div>
		<div class="grid_2 tr">
			<p><strong>What's this?</strong></p>
		</div>
		<div class="grid_6 omega">
			<p class="right-pad">Provide a few keywords, separated by commas that relate to this product. These are used by Search Engines when indexing pages.</p>
		</div>
		<div class="clear"></div>
	</div>	
	
	<h2>Categories</h2>
	{% set i = 1 %}
	{% for key, category in categories %}
		{% if not category.parent.loaded %}
			<div class="grid_4 field {% if i % 4 == 1 %}alpha{% elseif i % 4 == 0 %}omega{% endif %}">
				<input type="checkbox" id="product-category-{{category.id}}" name="product[categories][]" value="{{category.id}}" 
					class="top-level-category" {% if product.loaded and category.id in product.categories.as_array('id', 'id') %}checked{% endif %} />
				<label for="product-category-{{category.id}}" class="checkbox-label-bold">{{category.name}}</label>
				{% if category.categories %}
					<ul class="subcategory-list">
						{% for subcategory in category.categories %}
						<li>
							<input type="checkbox" id="product-category-{{subcategory.id}}" name="product[categories][]" 
								value="{{subcategory.id}}" {% if product.loaded and subcategory.id in product.categories.as_array('id', 'id') %}checked{% endif %} />
							<label for="product-category-{{subcategory.id}}" class="checkbox-label">{{subcategory.name}}</label>
						</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
			{% if i % 4 == 0 %}<div class="clear"></div>{% endif %}
			{% set i = i + 1 %}
		{% endif %}
	{% endfor %}
	
	<div class="clear"></div>
	
	<h2>Product Images</h2>
	
	{% if product.loaded %}
	
		<div id="product-images-header" class="{% if product.images.count() == 0 %}hidden{% endif %}">
		
			<div class="grid_3 alpha">&nbsp;</div>
			
			<div class="grid_2 tc">
				<strong>Default</strong>
			</div>
			
			<div class="grid_2 tc">
				<strong>Thumb</strong>
			</div>
			
			<div class="grid_6 tc">
				<strong>Short Description</strong>
			</div>
			
			<div class="clear"></div>

		</div>
	
		<div id="product-images">
		
		{% for key, image in product.images %}
			
			<div class="product-image-row">
				
				<div class="grid_3 alpha tc">
					
					<img src="{{image.thumb_path}}" alt="{{image.alt_text}}" class="product-image" />
					
				</div>
				
				<div class="grid_2 tc" style="line-height:120px;">
				
					<input type="radio" name="product[default_image]" value="{{image.id}}" {% if image.id == product.default_image.id %}checked{% endif %} />
				
				</div>
				
				<div class="grid_2 tc" style="line-height:120px;">
	
					<input type="radio" name="product[thumbnail]" value="{{image.id}}" {% if image.id == product.thumbnail.id %}checked{% endif %} />
				
				</div>
				
				<div class="grid_6">
				
					<textarea class="wide" name="product_images[{{image.id}}][alt_text]">{{image.alt_text}}</textarea>
				
				</div>
				
				<div class="grid_3 omega">
					
<!--
					<a href="#">
						<img src="/images/icons/arrow_inout.png" alt="" class="inline-icon" />
						Adjust
					</a>
-->	
					
					<a href="/admin/products/delete_image/{{image.id}}" class="delete-product-image">
						<img src="/images/icons/delete.png" alt="" class="inline-icon" />
						Delete
					</a>
					
				</div>
				
				<div class="clear"></div>
				
			</div>
		
		{% endfor %}

		</div>
		
	{% else %}
		
		<p><em>You must save the product before adding images.</em></p>
		
	{% endif %}
	
</form>

{% if product.loaded %}

	<!-- Async image uploader -->
	<form enctype="multipart/form-data" action="/admin/products/upload_image" method="post" id="upload-image-form" target="upload-image">
		
		<input type="hidden" name="product_id" value="{{product.id}}" />
		
		<div class="field">
			<div class="grid_2 alpha">
				<label>Add new image</label>
			</div>
			<div class="grid_8">
				<input type="file" id="image-upload" name="image" />
				<img src="/images/admin/ajax-loader.gif" alt="" id="image-upload-spinner" class="hidden" />
			</div>
			<div class="clear"></div>
		</div>
		
	</form>
	
	<iframe name="upload-image" id="upload-image"></iframe>

{% endif %}

{% endblock %}