{% extends "admin/templates/default.html" %}

{% block head %}

	{% parent %}
	
	<script type="text/javascript" src="/js/admin/products.js"></script>

{% endblock %}

{% block page_title %}Viewing: <strong>Products</strong>{% endblock %}

{% block content %}

<p>
	<a href="/admin/products/add" class="img-button">
		<img src="/images/icons/add.png" alt="" />
		New Product
	</a>
</p>

<div class="grid_8 alpha">
	<select id="bulk-actions">
		<option value="">-- Bulk Actions --</option>
		<option value="update_price">Update Price</option>
	</select>

	<span id="no-rows-selected">No rows selected!</span>
</div>

<div class="grid_8 omega tr">
	Showing <strong>{{page * items - (items - 1)}}</strong> to <strong>{% if (page * items) <= total_products %}{{page * items}}{% else %}{{total_products}}{% endif %}</strong> of <strong>{{total_products}}</strong> items
</div>

<div class="clear"></div>
<table>
	<thead>
		<tr>
			<th width="1"><input id="check-all" type="checkbox" /></th>
			<th>Name</th>
			<th class="tc">Retail Price</th>
			{% if modules.stock_control %}
				<th class="tc">Stock</th>
			{% endif %}
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
	{% for key, product in products %}
		<tr class="{{['', 'alternate']|cycle(key)}}">
			<td><input type="checkbox" class="row-selector" value="{{product.id}}" /></td>
			<td><a href="/admin/products/edit/{{product.id}}">{{product.name}}</a></td>
			<td class="tc">{{product.summarise_sku_price(true)}}</td>
			{% if modules.stock_control %}
				<td class="tc">{{product.total_stock}}</td>
			{% endif %}
			<td class="{{product.status}}">{{product.status|title}}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{{pagination}}


{% endblock %}