{% if modules.custom_fields and fields.custom_fields %}
	{% for custom_field in fields.custom_fields %}
		<div class="field">
			<div class="grid_2 alpha">
				<label for="custom-field-{{custom_field.id}}">{{custom_field.name}}</label>
			</div>
			<div class="grid_14 omega">
			
			{% if custom_field.type == 'wysiwyg' %}
				<textarea id="custom-field-{{custom_field.id}}" name="custom_fields[{{custom_field.id}}]" class="description">{{custom_field.value_for_object_id(object.id)}}</textarea>
		  {% elseif custom_field.type == 'text' %}
				<input type="text" id="custom-field-{{custom_field.id}}" name="custom_fields[{{custom_field.id}}]" class="inputtext long" value='{{custom_field.value_for_object_id(object.id)}}' />
		  {% elseif custom_field.type == 'upload' %}
		    <div class="custom-field-upload-form" data-custom-field-id="{{custom_field.id}}">
  			  {% if not custom_field.value_for_object_id(object.id) %}
            {% include "admin/custom/fields/_upload.html" %}
          {% else %}
            <a href="{{custom_field.value_for_object_id(object.id)}}" target="_blank"><img src="/media/images/icons/page.png" alt="" /> View file</a>
            -
            <a href="/admin/custom_fields/{{custom_field.id}}/delete_document/{{object.id}}" class="delete-custom-field-document">
    				  <img src="/images/icons/delete.png" alt="" class="inline-icon" />Delete file
    				</a>
  				{% endif %}
  		  </div>
			{% endif %}
			</div>
			<div class="clear"></div>
		</div>
	{% endfor %}
{% endif %}
