<tr class="sales-order-line" data-sku-id="{{sku.id}}">
	<input type="hidden" name="sales_order[skus][{{sku.id}}][id]" value="{{sku.id}}" />
	<input type="hidden" name="sales_order[skus][{{sku.id}}][name]" value="{{sku.name}}" />
	<td>{{sku.name}}</td>
	<td>{{sku.sku}}</td>
	{% if modules.stock %}
		<td>{{sku.stock}}</td>
	{% endif %}
	<td class="tc">
		<input type="text" class="inputtext shortest tc sales-order-item-unit-price" name="sales_order[skus][{{sku.id}}][price]" value="{% if not sku.loaded %}{{sku.price}}{% else %}{{sku.price_for_tier(customer.price_tier)|num_format(2)}}{% endif %}" />
	</td>
	<td class="tc">
		<input type="text" class="inputtext shortest tc sales-order-item-quantity" name="sales_order[skus][{{sku.id}}][quantity]" value="{% if not sku.loaded %}{{sku.quantity}}{% else %}1{% endif %}" />
	</td>
	<td class="tr">&pound;<span class="sales-order-item-total">{% if not sku.loaded %}{{(sku.price*sku.quantity)|num_format(2)}}{% else %}{{sku.price_for_tier(customer.price_tier)|num_format(2)}}{% endif %}</span></td>
	<td><a href="#" class="sales-order-line-delete"><img src="/media/images/icons/delete.png" class="inline-icon" alt="" /></a></td>
</tr>