{% extends "admin/templates/default.html" %}

{% block page_title %}Viewing: <strong>Sales Orders</strong>{% endblock %}

{% block content %}

<!-- <p>
	<a href="/admin/products/add" class="img-button">
		<img src="/images/icons/add.png" alt="" />
		New Product
	</a>
</p> -->

<div class="grid_8 alpha">
	<select id="bulk-actions">
		<option value="">-- Bulk Actions --</option>
	</select>

	<span id="no-rows-selected">No rows selected!</span>	
</div>

<div class="grid_8 omega tr">
	Showing <strong>{{page * items - (items - 1)}}</strong> to <strong>{% if (page * items) <= total_products %}{{page * items}}{% else %}{{total_products}}{% endif %}</strong> of <strong>{{total_products}}</strong> items
</div>

<div class="clear"></div>

<table>
	<thead>
		<tr>
			<th width="1"><input id="check-all" type="checkbox" /></th>
			<th>Order No.</th>
			<th>Customer</th>
			<th>Location</th>
			<th class="tc">Promo Code?</th>
			<th class="tr">Total</th>
			<th>&nbsp;</th>
			<th class="tr">Placed On</th>
		</tr>
	</thead>
	<tbody>
	{% for key, sales_order in sales_orders %}
		<tr class="{{['', 'alternate']|cycle(key)}}">
			<td><input type="checkbox" class="row-selector" /></td>
			<td><a href="/admin/sales_orders/view/{{sales_order.id}}">{{sales_order.id}}</a></td>
			<td>{{sales_order.customer.lastname}}, {{sales_order.customer.firstname}}</td>
			<td>{{sales_order.delivery_address.town}}, {{sales_order.delivery_address.postcode}}</td>
			<td class="tc">{{sales_order.promotion_code_code}}</td>
			<td class="tr">&pound;{{sales_order.order_total|num_format(2)}}</td>
			<td class="tc"><span class="status_tag {{sales_order.status}}">{{sales_order.status|humanize|title}}</td>
			<td class="tr">{{sales_order.created|date('d/m/Y H:i')}}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{{pagination}}


{% endblock %}