{% extends "admin/templates/default.html" %}

{% block page_title %}
	View Sales Order: <strong>{{sales_order.id}} - {{sales_order.customer.firstname}} {{sales_order.customer.lastname}}</strong>
{% endblock %}

{% block content %}

<form method="POST">

	<div class="field">
		<div class="tr">
			<a href="{{cancel_url}}" class="right-pad">Cancel Changes</a>
			<input type="submit" name="save_exit" value="Save &amp; Exit" class="right-pad" />
			<input type="submit" value="Save &amp; Continue Editing" class="right-pad" />
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="grid_4 alpha">
		<h2>Customer Details</h2>
		<p>
			{{sales_order.customer.firstname}} {{sales_order.customer.lastname}}<br/>
			{{sales_order.billing_address.line_1}}<br/>
			{% if sales_order.billing_address.line_2 %}{{sales_order.billing_address.line_2}}<br/>{% endif %}
			{{sales_order.billing_address.town}}<br/>
			{{sales_order.billing_address.county}}<br/>
			{% if sales_order.billing_address.postcode %}{{sales_order.billing_address.postcode}}<br/>{% endif %}
			{{sales_order.billing_address.country.name}}<br/>
		</p>
		<p>
			{% if sales_order.billing_address.telephone %}Tel: {{sales_order.billing_address.telephone}}<br/>{% endif %}
			<a href="mailto:{{sales_order.customer.email}}">{{sales_order.customer.email}}</a>
		</p>
	</div>
	
	<div class="grid_4">
		<h2>Delivery Details</h2>
		<p>
			{{sales_order.delivery_firstname}} {{sales_order.delivery_lastname}}<br/>
			{{sales_order.delivery_address.line_1}}<br/>
			{% if sales_order.delivery_address.line_2 %}{{sales_order.delivery_address.line_2}}<br/>{% endif %}
			{{sales_order.delivery_address.town}}<br/>
			{{sales_order.delivery_address.county}}<br/>
			{% if sales_order.delivery_address.postcode %}{{sales_order.delivery_address.postcode}}<br/>{% endif %}
			{{sales_order.delivery_address.country.name}}<br/>
		</p>
		{% if sales_order.billing_address.telephone %}<p>Tel: {{sales_order.billing_address.telephone}}</p>{% endif %}
	</div>
	
	<div class="grid_8 omega">
		
	{% if modules.commercial_sales_orders %}
		<div class="field">
			<div class="grid_2 alpha">
				<label>Type</label>
			</div>
			<div class="grid_6 omega">
				{{sales_order.type|humanize|title}}
			</div>
			<div class="clear"></div>
		</div>
		{% endif %}
		<div class="field">
			<div class="grid_2 alpha tr">
				<strong>Download</strong>
			</div>
			{% if sales_order.type == 'commercial' %}
			<div class="grid_2">
				<a href="{% url "sales_order_generate_invoice", ["sales_order_id": sales_order.id] %}" class="right-pad" type='application/pdf'><img src="/media/images/icons/page_white_acrobat.png" alt="" class="inline-icon" /> Invoice</a>
			</div>
			{% elseif sales_order.type == 'retail' %}
				<div class="grid_2">
				<a href="{% url "sales_order_generate_receipt", ["sales_order_id": sales_order.id] %}" class="right-pad" type='application/pdf'><img src="/media/images/icons/page_white_acrobat.png" alt="" class="inline-icon" /> Receipt</a>
			</div>
			{% endif %}
			<div class="grid_4 omega">
				<a href="{% url "sales_order_generate_delivery_note", ["sales_order_id": sales_order.id] %}" class="right-pad" type='application/pdf'><img src="/media/images/icons/page_white_acrobat.png" alt="" class="inline-icon" /> Delivery Note</a>
			</div>
			<div class="clear"></div>
		</div>
		{% if modules.commercial_sales_orders %}
		<div class="field">
			<div class="grid_2 alpha">
				<label for="sales-order-invoiced-on">Invoiced On</label>
			</div>
			<div class="grid_6 omega">
				<input type="text" name="sales_order[invoiced_on]" id="sales-order-invoiced-on" class="inputtext shorter" value="{{sales_order.invoiced_on|date('d/m/Y')}}" />
			</div>
			<div class="clear"></div>
		</div>
		{% endif %}
			
		<div class="field">
			<div class="grid_2 alpha">
				<label>Status</label>
			</div>
			<div class="grid_6 omega">
				<select name="sales_order[status]" id="sales-order-status">
				{% for status in order_statuses %}
					<option value="{{status}}" {% if status == sales_order.status %}selected{% endif %}>
						{{status|humanize|title}}
					</option>
				{% endfor %}
				</select>

				{% if sales_order.status == 'payment_received' %}
					<a href="#" id="complete-and-email" data-url="/admin/sales_orders/complete_and_send_email/{{sales_order.id}}">
						<img src="/images/icons/tick.png" alt="" class="inline-icon" />
						<img src="/media/images/admin/ajax-loader.gif" alt="" class="inline-icon hidden" id="ajax-spinner" />
						Complete &amp; Send Email
					</a>
				{% elseif sales_order.status == 'invoice_generated' and sales_order.customer.email %}
					<a href="#" id="email-invoice" data-url="/admin/sales_orders/email_invoice/{{sales_order.id}}">
						<img src="/images/icons/email_go.png" alt="" class="inline-icon" />
						<img src="/media/images/admin/ajax-loader.gif" alt="" class="inline-icon hidden" id="ajax-spinner" />
						Email Invoice
					</a>
				{% endif %}
			</div>
			<div class="clear"></div>
		</div>
		
		<div class="field">
			<div class="grid_2 alpha">
				<label>Placed on</label>
			</div>
			<div class="grid_6 omega">{{sales_order.created|date('d/m/Y H:i')}}</div>
			<div class="clear"></div>
		</div>
		
		<div class="field">
			<div class="grid_2 alpha">
				<label>Delivery Option</label>
			</div>
			<div class="grid_6 omega">
			{% if sales_order.delivery_option_name %}
				{{sales_order.delivery_option_name}}
			{% else %}
				{{sales_order.delivery_option.name}}
			{% endif %}
			</div>
			<div class="clear"></div>
		</div>
		
	</div>

	<div class="clear"></div>

</form>

<h2>Order Details</h2>

{% if sales_order.type == "commercial" %}
  {% if modules.admin_online_pay %}
    {% if sales_order.status != "complete" %}
    
    <div class="field">
      <div class="grid_12 alpha">&nbsp;</div>
      <div class="grid_4 omega">
        <form action="{% url "admin_confirm", ["id": sales_order.id] %}" method="post">
          <input type="hidden" name="amount" class="inputtext shortest" value="{{sales_order.order_total}}">
          <button style="float:right;margin-right:10px;">Pay Online</button>
        </form>
      </div>
      <div class="clear"></div>
    </div>
  
    {% endif %}
  {% endif %}
  
	{% include "admin/sales/orders/_view_commercial_order_details.html" %}
{% else %}
	{% include "admin/sales/orders/_view_retail_order_details.html" %}
{% endif %}

<h2>Order Notes</h2>

<textarea class="full-width" id="new-note"></textarea>
<button id="add-sales-order-note" data-sales-order-id="{{sales_order.id}}">Add Note</button>
<img src="/media/images/admin/ajax-loader.gif" alt="" id="add-note-spinner" class="hidden" />

<div id="sales-order-notes">
{% for key, note in sales_order.notes %}

	<div class="{{['', 'alternate']|cycle(key)}} sales_order_note">
	
	{% if note.is_system %}
		<p>
			<img src="/images/icons/computer.png" alt="" class="inline-icon" />
			<strong>Order updated on {{note.created|date('d/m/Y H:i')}}:</strong>
		</p>
	{% else %}
		<p>
			<img src="/images/icons/user_suit.png" alt="" class="inline-icon" />
			<strong>On {{note.created|date('d/m/Y H:i')}} {{note.user.firstname}} {{note.user.lastname}} said:</strong>
		</p>
	{% endif %}
	
		{{note.text}}
	
	</div>

{% endfor %}
</div>

{% endblock %}